* {
    border: 1px solid black;
    user-select: none;
}

main {
    display: flex;
    flex-direction: row;
}

main > #clicker-div {
    background-image: url('./assets/castle-background.png');
    background-size: cover;
    width: 70vw;
    height: 98vh;
    display: flex;
    flex-direction: column;
}

#clicker-button {
    content: url('./assets/hay-target.png');
    margin: auto;
    width: 20vw;
    border: none;
}

#clicker-button:hover {
    background-color: seagreen;
}

#points-view {
    text-align: center;
    background-color: white;
    margin: 5vh auto auto auto;
    padding: 0.5em;
    border-radius: 10em;
    width: 25vw;
}

#upgrades-div {
    background-color: grey;
    width: 29vw;
    height: 98vh;
    display: flex;
    flex-direction: column;
}

#upgrades-div > * {
    font-size: 1.5em;
    background-color: white;
}

#upgrades-div > *:hover {
    background-color: lightgrey;
}

body {
    background-color: orange;
}

.floating-text {
    border: none;
    color: darkorange;
    text-shadow: 1px 1px 4px black;
    position: fixed;
    z-index: 100;
    pointer-events: none;
}